body {
  background-color: black;
}

header {
  font-family: "Times New Roman", Times, serif;
  text-align : center;
  background-color : white;
  min-height: auto;
  border: 2px solid black;
  border-radius: 5px;
  margin-bottom: 20px;
}

.news {
  min-height:200px;
  background-color:yellow;
  width: auto;
  border: 2px solid black;
  border-radius: 5px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 10px;
}
